.header {
	// backdrop-filter: blur(5px);
	background-color: #efefef;
	display: flex;
	justify-content: space-between;
	padding: 20px 50px;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 100;

	@include m--tablet {
		padding: 10px 20px;
	}

	&__name {
		display: flex;
		flex-basis: 0;
		flex-grow: 1;
		font-size: $fs-24;
		font-weight: 500;
		align-items: center;

		@include m--tablet {
			display: none;
		}
	}

	&__logo {
		display: grid;
		place-content: center;

		animation-name: shrink;
		animation-timeline: scroll();
		animation-range: 0 350px;
		animation-fill-mode: both;

		@keyframes shrink {
			from {
				// color: $clr-secondary;
				font-size: $fs-90;
			}
			to {
				color: $clr-primary;
				font-size: $fs-35;
			}
		}
	}
}
