$clr-mango: hsl(41, 89%, 61%);
$clr-background: hsl(0, 0%, 94%);
$clr-primary: hsl(0, 100%, 67%);
$clr-secondary: hsl(331, 100%, 90%);

$clr-black: hsl(0, 0%, 0%);
$clr-blue: hsl(205, 47%, 68%);
$clr-green: hsl(119, 33%, 72%);
$clr-pink: hsl(320, 43%, 71%);
$clr-red: hsl(348, 77%, 64%);
$clr-turquoise: hsl(176, 43%, 55%);
$clr-violet: hsl(248, 26%, 58%);
$clr-white: hsl(0, 0%, 100%);
$clr-yellow: hsl(45, 100%, 65%);
