$clr-mango: #f4bc43;

$clr-black: #000000;
$clr-blue: #89b5d4;
$clr-green: #a0cf9f;
$clr-pink: #d596c0;
$clr-red: #ea5e79;
$clr-turquoise: #5cbeb8;
$clr-violet: #7e77af;
$clr-white: #ffffff;
$clr-yellow: #ffd24d;
