// Font-size
$fs-14: clamp(9px, 1.2vw, 14px); // 14px
$fs-16: clamp(10px, 1.6vw, 16px); // 16px
$fs-18: clamp(11px, 1.8vw, 18px); // 18px
$fs-20: clamp(12px, 2vw, 20px); // 20px
$fs-24: clamp(15px, 2.4vw, 24px); // 24px
$fs-30: clamp(18px, 3vw, 30px); // 30px
$fs-35: clamp(21px, 3.5vw, 35px); // 35px
$fs-45: clamp(27px, 4.5vw, 45px); // 45px
$fs-60: clamp(36px, 6vw, 60px); // 60px
$fs-64: clamp(40px, 6.4vw, 64px); // 64px
$fs-70: clamp(42px, 7vw, 70px); // 70px
$fs-90: clamp(40px, 9vw, 90px); // 90px
$fs-120: clamp(72px, 12vw, 120px); // 120px
$fs-130: clamp(78px, 13vw, 130px); // 130px
$fs-240: clamp(120px, 24vw, 240px); // 240px
$fs-300: clamp(150px, 30vw, 300px); // 300px

// Line-height
$lh-20: clamp(16px, 1.428vw, 20px); // 20px
$lh-25: clamp(21px, 1.786vw, 25px); // 25px
$lh-26: clamp(22px, 1.857vw, 26px); // 26px
$lh-30: clamp(25px, 1.784vw, 30px); // 30px
$lh-35: clamp(30px, 2.5vw, 35px); // 35px
$lh-45: clamp(40px, 3.214vw, 45px); // 45px
$lh-55: clamp(48px, 3.927vw, 55px); // 55px
$lh-60: clamp(54px, 4.286vw, 60px); // 60px
$lh-65: clamp(60px, 4.641vw, 65px); // 65px
$lh-70: clamp(64px, 5.002vw, 70px); // 70px
$lh-80: clamp(72px, 5.714vw, 80px); // 80px
$lh-85: clamp(78px, 6.071vw, 85px); // 85px
$lh-130: clamp(120px, 9.286vw, 130px); // 130px
$lh-285: clamp(260px, 20.357vw, 285px); // 285px
$lh-300: clamp(280px, 21.428vw, 300px); // 300px

@mixin placeholder {
	&::placeholder {
		@content;
	}
	::-webkit-input-placeholder {
		@content;
	}
	:-moz-placeholder {
		@content;
	}
	::-moz-placeholder {
		@content;
	}
	:-ms-input-placeholder {
		@content;
	}
}
