.wrapper {
	align-items: center;
	display: flex;
	height: 150px;
	margin-inline: auto;
	overflow: hidden;
	position: relative;
	width: min(90%, 1200px);
	mask-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 1) 20%,
		rgba(0, 0, 0, 1) 80%,
		rgba(0, 0, 0, 0)
	);
	@include m--tablet {
		width: 100%;
	}

	.item {
		animation: scrollLeft 30s linear infinite;
		flex-shrink: 0;
		font-family: $ff-recoleta;
		font-size: $fs-90;
		line-height: 1.5;
		padding-inline: 1rem;
		white-space: nowrap;
	}
}

/* Animación de desplazamiento continuo */
@keyframes scrollLeft {
	0% {
		transform: translateX(20%);
	}
	100% {
		transform: translateX(-100%);
	}
}
