main.template-home {
	min-height: 100dvh;
	@include section-spacing;

	> section {
		scroll-margin-top: 3rem;

		> h2 {
			font-size: $fs-90;
		}
	}

	.s-main-title {
		font-size: $fs-130;
		padding-left: 50px;
	}

	.s-text {
		width: min(750px, 100%);
		> p {
			font-size: $fs-24;
			margin-bottom: 1em;
		}
	}

	.swiper {
		display: grid;
		height: 370px;
		max-width: 750px;
		place-items: center;

		.swiper-slide {
			display: grid;
			place-items: center;

			article {
				align-items: center;
				border-radius: $br-normal;
				box-shadow:
					12px 12px 12px rgba(0 0 0 / 0.1),
					-10px -10px 10px hsl(0, 12%, 97%);
				display: flex;
				flex-direction: column;
				gap: 1em;
				justify-content: center;
				height: 325px;
				width: 275px;
				padding: 24px;

				> div {
					overflow: hidden;
					max-height: 100px;
				}

				img {
					filter: grayscale(1);
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}
		}

		.swiper-button-next,
		.swiper-button-prev {
			align-items: center;
			color: black;
			display: flex;
			height: 150px;
			justify-content: center;
			top: 40%;
			width: 150px;

			&:hover {
				svg {
					color: $clr-primary;
				}
			}

			&:after {
				content: "";
			}

			@include m--tablet {
				height: 100px;
				width: 100px;
			}
		}

		// Button Prev
		.swiper-button-prev {
			svg {
				transform: rotate(250deg);
				transition: color 0.3s ease;
			}
		}

		// Button Next
		.swiper-button-next {
			svg {
				transform: rotate(70deg);
				transition: color 0.3s ease;
			}
		}
	}

	.s-contact {
		> p {
			font-size: $fs-24;
			max-width: 900px;
			position: relative;

			a {
				text-decoration: none;
			}

			a:hover {
				color: $clr-mango;
				transition: color 0.3s ease-in-out;
			}
		}
	}
}
